<!-- GPS Tag Dunker web code
Authored by TechDevTom/Tom Southworth, 2020, for The Arribada Initiative. -->

<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href='../static/style.css'>
	</head>
	<body>
		<h1>GPS Tag Dunker</h1>


		<h2>Dunk Testing</h2>
		<!-- For Dunking the Tag -->
		<!-- Dunk Button -->
		<!-- Raise Button -->
		<!-- Stop Button -->

		<h2>Schedule</h2>
		<!-- Dunk Time Input Field -->
		<!-- Rise Time Input Field -->
		<!-- Loop checkbox -->
		<!-- Loop amount Input Field -->
		<!-- Schedule Name Input Field -->
		<!-- Save Schedule Button -->
		<!-- Start Schedule Button -->

		<h3>DateTime:  {{ time }}</h3>
	</body>
</html>