<!-- GPS Tag Dunker web code
Authored by TechDevTom/Tom Southworth, 2020, for The Arribada Initiative. -->

<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="../static/style.css">
		<title>GPS Tag Dunker</title>
	</head>
	<body>
		<h2>Current Schedule</h2>
		<p>{{ ScheduleString }}</p>
		<form action="/webStartSchedule" method="get">
			<fieldset>
				<legend>New Schedule:</legend>
				Schedule Name:		<input type="text" name="scheduleName" required><br><br>
				Dunk Time:  		<input type="time" name="dunkTime" step="1" required><br><br>
				Rise Time:  		<input type="time" name="riseTime" step="1" required><br><br>
				Repeat Schedule:  	<input type="checkbox" name="loopEnabled"><br><br> <!--  -->
				Repeat Count:  		<input type="number" name="loopCount" min="-1", value="0"><br><br>
				<input type="submit" value="Start Schedule"><br><br>
 			</fieldset>
		</form>

		<h2>Dunk Testing</h2>
		<p>{{ TestingString }}</p>
		<a href="/webStopWind"><input type="button" value="Stop Winding"></a>
		<a href="/webWindOut"><input type="button" value="Wind Tag Down"></a>
		<a href="/webWindIn"><input type="button" value="Wind Tag Up"></a>

		<h2>Saved Schedules</h2>


	</body>
</html>