<!-- GPS Tag Dunker web code
Authored by TechDevTom/Tom Southworth, 2020, for The Arribada Initiative. -->

<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="../static/style.css">
		<title>GPS Tag Dunker</title>
	</head>
	<body>
		<h2>Current Schedule</h2>
		<p>{{ ScheduleString }}</p>
		<form action="/webSaveSchedule" method="post">
			<!-- <fieldset>
				<legend>New Schedule:</legend> -->
			Schedule Name:		<input type="text" name="scheduleName"><br><br>
			Dunk Time:  		<input type="text" name="dunkTime"><br><br>
			Rise Time:  		<input type="text" name="riseTime"><br><br>
			Repeat Schedule:  	<input type="checkbox" name="loopEnabled" value="Repeat"><br><br> <!--  -->
			Repeat Count:  		<input type="text" name="loopCount"><br><br>

			<a href="/webSaveSchedule"><input type="button" value="Save"></a>
			<a href="/webStartSchedule"><input type="button" value="Start"></a>
<!-- 			</fieldset> -->
		</form>

		<h2>Dunk Testing</h2>
		<p>{{ TestingString }}</p>
		<a href="/webStopWind"><input type="button" value="Stop Winding"></a>
		<a href="/webWindOut"><input type="button" value="Wind Tag Down"></a>
		<a href="/webWindIn"><input type="button" value="Wind Tag Up"></a>

		<h2>Saved Schedules</h2>

	</body>
</html>